body {
  background: #E2F0D9;
}
.application-page {
  margin-top: 75px;
  background: white;
  min-height: 300px;
  border-radius: 15px;
  padding-bottom: 35px;
}
.no-margin {
  margin-left: 0;
  margin-right: 0;
}
