.navbar.techvet-navbar {
    text-align: center;
    background: #70ad47;
    color: white;
    box-shadow: 1px 5px 5px 1px rgba(136,144, 130, 1);
    border: none;
    border-radius: 0;
    height: 48px;
    margin-bottom: 0;
    z-index: 2;
}
.navbar.techvet-navbar h1 {
    display: inline-block;
    font-size: 19px;
    margin-top: 15px;
    position: absolute;
}
.navbar.techvet-navbar ul {
  margin-top: 5px;
}
.btn.techvet-button {
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    background: none;
    margin-left: 15px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
    height: 35px;
    padding: 0 12px;
    outline: none !important;
}
