.sidemenu-user {
  height: 150px;
  background: #D0CECE;
  padding-top: 10px;
  text-align: center;
}
.sidemenu-user h2 {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}
.sidemenu-user .sidemenu-user-picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #767171;
  margin: 0 auto;
}
.techvet-sidemenu {
  box-shadow: 2px -4px 4px 3px rgba(136,144, 130, 1);
}
.techvet-sidemenu a {
  color: black;
}
.techvet-sidemenu ul {
  list-style: none;
}
.techvet-sidemenu ul li {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
}
